.grid-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column dense;
}

.grid-cell {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    /* font-size: 150%; */
}
  
.row-span-2 {
    color: red;
    grid-row-end: span 2
}
  
.col-span-3 {
    color:green;
    grid-column-end: span 3
}
