.volume-slider-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    height: 40px;
    border: 1px solid rgba(255,255,255,0.25);
    line-height: 40px;
    vertical-align: middle;
    box-sizing: border-box;
}

.volume-slider-cell {
    grid-column-end: span 1;
    height:100%;
}

.volume-slider-cell button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    line-height: 100%;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: -8px;
    background-image: url(mute.jpg);
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: -8px;
    background-size: 60px 60px;
    border: none;
}

.volume-slider-cell button.mute {
    background-position: -15px -1px;
}

.volume-slider-cell button.unmute {
    background-position: -15px -27.5px;
}

.volume-slider-cell input[type="range"] {
    width: 95%;
}
